
// 1. NOTE: (iOS Safari) Enable momentum scrolling on overflow elements
// 2. NOTE: (WebKit/Blink) (Non-standard) Scrollbars overlay content
// 3. NOTE: (Mobile devices) Prevent font-size scaling
// 4. NOTE: (Touch devices) Prevent tap delay

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  -webkit-overflow-scrolling: touch; // 1
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  overflow: overlay; // 2
  // -webkit-text-size-adjust: none; // 3
  // text-size-adjust: none; // 3
  touch-action: manipulation; // 4
  box-sizing: border-box;
}

body {
  color: $white;
  font: 400 1em/1 sans-serif;
  background: $dark-500;
}

::placeholder {
  color: $dark-100;
}

::selection {
  color: $white;
  background: $valorant-red;
}

::-webkit-scrollbar {
  width: 24px;
  height: 24px;
}

::-webkit-scrollbar-thumb {
  border: 8px solid transparent;
  border-radius: 12px;
  box-shadow: inset 0 0 0 4px $valorant-red;
}

// NOTE: This sets the maximum site width when using this viewport meta tag.
// Mobile devices will downscale from this size.
// <meta name="viewport" content="width=device-width,maximum-scale=1">

@media (max-width: 375px) {
  body {
    width: 375px;
  }
}
