
.missing {
  display: flex;
  height: 62.5vh;

  div {
    margin: auto;
    font: 800 48px/1 $font-anton;
  }
}

@media (min-width: 768px + 1px) {
  .missing {
    div {
      font: 800 96px/1 $font-anton;
    }
  }
}
